/* mixins & params */
/* main styles */
:focus,
*:focus {
  outline: none;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: #f5f5f5;
  font-family: 'Exo 2', sans-serif;
  color: #212121;
  font-size: 14px;
  padding-bottom: 237px;
}
textarea:focus,
input:focus {
  outline: 0;
}
textarea {
  resize: none;
}
a {
  color: #5893b9;
}
a:hover {
  color: #01b5b1;
  text-decoration: none;
}
.hidden {
  display: none;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.nopadding-l {
  padding-left: 0 !important;
}
.nopadding-r {
  padding-right: 0 !important;
}
.clear {
  clear: both;
}
.logo {
  display: block;
  max-width: 254px;
  padding-top: 32px;
}
.logo img {
  width: 100%;
}
.web-alternative {
  text-align: right;
  display: block;
  width: 165px;
  padding-left: 50px;
  color: #bebebe;
  background: transparent url('../img/webalt.png') no-repeat 0 0;
  font-size: 13px;
  text-decoration: none;
  margin-top: 28px;
}
.web-alternative:hover {
  color: #bebebe;
}
.title {
  font-weight: 300;
}
.h1 {
  font-size: 40px;
}
.content h1 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin: 50px 0;
}
.content h1:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 40px;
  background: #01b5b1;
  vertical-align: top;
  margin-top: 13px;
  margin-right: 25px;
}
.content h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin: 30px 0;
}
.content h3 {
  font-size: 35px;
  font-weight: 300;
  margin: 25px 0;
}
.content h4 {
  font-size: 27px;
  font-weight: 300;
  margin: 15px 0;
}
.content h5 {
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  margin: 15px 0;
}
.content h6 {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0;
}
.content p {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin: 10px 0;
}
.content img {
  margin: 10px 0;
}
.content img[align="left"] {
  margin-right: 30px;
}
.content img[align="right"] {
  margin-left: 30px;
}
.content ol {
  padding-left: 10px;
  list-style-type: none;
  counter-reset: ol-counter;
}
.content ol > li {
  margin: 10px 0;
}
.content ol > li:before {
  content: counter(ol-counter) ". ";
  counter-increment: ol-counter;
  padding-right: 10px;
  font-weight: 600;
}
.content ul {
  padding-left: 10px;
  list-style-type: none;
}
.content ul > li {
  margin: 10px 0;
}
.content ul > li:before {
  content: "• ";
  font-size: 25px;
  line-height: 10px;
  padding-right: 10px;
  color: #01b5b1;
}
.content table {
  width: 100%;
  margin: 10px 0;
}
.content table th,
.content table td {
  border: 1px solid #5893b9;
  padding: 15px 20px;
  text-align: left;
}
.content table th {
  background: #365280;
  color: white;
  font-weight: 400;
}
.content table tr:nth-child(even) {
  background: white;
}
.content table tr:hover {
  background: #d8f7f6;
}
/* .form */
.form__row {
  padding: 10px 0;
}
.form__row--inline {
  font-size: 0;
}
.form__row--full {
  padding: 0 0 18px 0 !important;
}
.form__row--fullInline {
  font-size: 0;
}
.form__inputBlock--nolabel {
  padding-top: 32px;
}
.form__row--inline .form__label--radio {
  display: inline-block;
  margin-right: 85px;
}
.form__row--inline .form__inputBlock {
  display: inline-block;
  margin-right: 30px;
  width: 330px;
}
.form__row--inline .form__inputBlock--small {
  width: 150px;
}
.form__row--inline .form__inputBlock--big {
  width: 690px;
}
.form__row--fullInline .form__inputBlock {
  display: inline-block;
  margin-right: 30px;
  width: 330px;
  vertical-align: top;
}
.form__row--fullInline .form__inputBlock:last-child {
  margin-right: 0;
}
.form__row--fullInline .form__inputBlock--small {
  width: 165px;
}
.form__row--fullInline .form__inputBlock--middle {
  width: 195px;
}
.form__row--fullInline .form__inputBlock--big {
  width: 270px;
}
.form__section {
  border-bottom: 1px solid #5893b9;
  padding-bottom: 15px;
  margin-bottom: 35px;
}
.form__sectionHeader {
  font-size: 27px;
  margin-bottom: 15px;
}
.form__sectionHeader small {
  font-size: 18px;
  font-weight: 300;
}
.form__section .form__row {
  padding-left: 30px;
  padding-right: 30px;
}
.form__input {
  width: 100%;
  font-size: 18px;
}
.form__input--text {
  border: 1px solid #5893b9;
  padding: 8px 15px;
  background: transparent;
}
.form__input--textarea {
  border: 1px solid #5893b9;
  padding: 8px 15px;
  background: transparent;
  height: 127px;
  font-size: 18px;
}
.form__input--select {
  border: 1px solid #5893b9;
  padding: 7px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url('../img/dropdown.png') right 15px center no-repeat;
}
.form__input--radio {
  display: none;
}
.form__input--radio:checked + label:after {
  width: 8px;
  height: 8px;
  left: 4px;
  margin-top: -4px;
}
.form__input--checkbox {
  display: none;
}
.form__input--checkbox:checked + label:after {
  width: 12px;
  height: 12px;
  left: 2px;
  margin-top: -6px;
}
.form__input--captcha {
  display: block;
  max-width: 293px;
  border-radius: 4px;
}
.form .btn {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 18px;
  font-weight: 300;
}
.form__label {
  font-size: 18px;
}
.form__label--sub {
  font-size: 15px;
  font-weight: 300;
}
.form__label--text {
  display: block;
  margin-bottom: 10px;
}
.form__label--text.required {
  background: transparent url('../img/icon-required.png') 100% 50% no-repeat;
  padding-right: 12px;
}
.form__label--radio {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin: 5px 0;
}
.form__label--radio:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  margin-top: -8px;
  border: 1px solid #3f6095;
  border-radius: 50%;
}
.form__label--radio:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 8px;
  top: 50%;
  margin-top: 0;
  background: #3f6095;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
}
.form__label--checkbox {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin: 5px 0;
}
.form__label--checkbox:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 13px;
  margin-top: -8px;
  border: 1px solid #3f6095;
  border-radius: 4px;
}
.form__label--checkbox:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 8px;
  top: 13px;
  margin-top: 0;
  background: #3f6095;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
}
.form__label--checkboxWhite {
  font-weight: 300;
}
.form__label--checkboxWhite:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 13px;
  margin-top: -8px;
  border: 1px solid white;
  border-radius: 4px;
}
.form__label--checkboxWhite:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 8px;
  margin-top: 0;
  background: white;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
}
/* mainPromo */
.mainPromo {
  margin-top: 20px;
  width: 100%;
  display: table;
  background: #3f6095;
  border-radius: 4px;
  color: white;
}
.mainPromo__col {
  display: table-cell;
  width: 50%;
  padding: 20px 0;
  vertical-align: top;
}
.mainPromo__title {
  font-size: 30px;
  font-weight: 300;
  margin-left: 30px;
  padding-bottom: 5px;
}
.mainPromo__desc {
  font-size: 14px;
  font-weight: 300;
  margin-left: 30px;
}
.mainPromo__date {
  font-size: 14px;
  font-weight: 300;
  margin-right: 20px;
  border: 1px solid white;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 20px;
}
.mainPromo__link {
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin-right: 20px;
  margin-top: 5px;
}
.mainPromo__link:hover {
  color: white;
  text-decoration: none;
}
/* icon */
.icon {
  padding-left: 40px;
}
.icon--message {
  background: transparent url('../img/icon-message.png') no-repeat 5px 50%;
}
.icon--money {
  background: transparent url('../img/icon-money.png') no-repeat 3px 50%;
}
.icon--gear {
  background: transparent url('../img/icon-gear.png') no-repeat 2px 50%;
}
.icon--exit {
  background: transparent url('../img/icon-exit-gray.png') no-repeat 4px 50%;
}
/* controlBox */
.controlBox {
  padding-top: 20px;
  position: relative;
}
/* headControlsWrapper */
.headControlsWrapper {
  display: inline-block;
}
.headControlsWrapper:hover .headControls {
  display: block;
}
/* headControls */
.headControls {
  display: none;
  position: absolute;
  z-index: 15;
  right: 15px;
  width: 332px;
  font-size: 0;
  text-align: left;
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.2);
  padding: 15px;
}
.headControls__link {
  color: #212121;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  font-weight: 300;
}
.headControls__link:hover {
  color: #212121;
  text-decoration: underline;
}
.headControls__link--colorless {
  color: #757575;
}
.headControls__num {
  font-weight: 400;
  color: #3f6095;
  font-size: 16px;
  display: inline-block;
  width: 37px;
}
.headControls__txt {
  font-size: 10px;
  font-style: normal;
}
/* notify */
.notify {
  display: inline-block;
  vertical-align: top;
  width: 34px;
  height: 28px;
  margin-right: 15px;
  background: transparent url('../img/icon-notify.png') no-repeat 0 100%;
  color: white;
  text-decoration: none;
  text-align: right;
  margin-bottom: 10px;
}
.notify:hover {
  color: white;
  text-decoration: none;
}
.notify__count {
  display: inline-block;
  height: 25px;
  min-width: 25px;
  text-align: center;
  border-radius: 50%;
  background: #01b5b1;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}
/* .btn */
.btn {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 15px;
  line-height: 16px;
  color: #212121;
}
.btn:hover {
  color: #212121;
  text-decoration: none;
}
.btn--floatLeft {
  float: left;
  margin-right: 10px;
}
.btn--inline {
  display: inline-block;
  vertical-align: top;
}
.btn--full {
  width: 100%;
}
.btn--straight {
  border-radius: 0;
}
.btn--stick-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}
.btn--user {
  background-image: url('../img/icon-user.png');
  background-position: 15px 50%;
  background-repeat: no-repeat;
  padding-left: 50px;
}
.btn--sendMessage {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  float: right;
}
.btn--addBlackList {
  color: white;
  width: 165px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 10px;
  font-weight: 300;
  border: none;
  background: #3f6095;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn__myMenu {
  padding: 0;
  color: white;
  font-weight: 300;
  width: 100%;
  height: 30px;
  background: #3f6095;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 22px;
  font-size: 14px;
}
.btn__myMenu--deal {
  margin-top: 10px;
  background: #01b5b1 !important;
}
.btn__myMenu:hover {
  color: white;
}
.btn__myMenu--modalOrder {
  width: 200px;
  background: #5893b9;
}
.btn--order {
  border: 1px solid #5893b9;
  margin-left: 15px;
  font-weight: 300;
  font-size: 14px;
}
.btn--order:hover {
  background: #01b5b1 !important;
}
.btn--orderActive {
  background: #01b5b1 !important;
  border: none;
}
.btn--inWork {
  width: 200px;
  margin-top: 10px;
}
.btn--photo {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.btn--photo:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 20px;
  background: transparent url('../img/icon-photo.png') 0 0 no-repeat;
  vertical-align: top;
  margin-right: 18px;
}
.btn--photoSmall {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.btn--photoSmall:before {
  margin-right: 5px;
}
.btn--primary {
  background-color: #3f6095;
  color: white;
}
.btn--primary:hover {
  background-color: #5893b9;
  color: white;
}
.btn[disabled] {
  background: #bdbdbd;
  color: white;
}
.btn--reject {
  font-weight: 500;
  color: white;
  background: #757575;
  margin-top: 15px;
}
/* mainMenuWrapper */
.mainMenuWrapper {
  margin-top: 21px;
  margin-bottom: 30px;
  background: #01b5b1;
}
/* mainMenu */
.mainMenu {
  text-align: center;
}
.mainMenu__item {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.mainMenu__item:before {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  opacity: 0;
  left: 50%;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-top: 6px solid #f5f5f5;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.mainMenu__item:hover:before,
.mainMenu__item_active:before {
  top: 0;
  opacity: 1;
}
.mainMenu__item:hover {
  background: #029b9f;
}
.mainMenu__link {
  color: white;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  padding: 15px 35px;
  text-transform: uppercase;
  text-decoration: none;
}
.mainMenu__link:hover {
  color: white;
}
.mainMenu__item:hover .mainMenu__sub {
  display: block;
}
.mainMenu__sub {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.2);
}
.mainMenu__sub__link {
  display: block;
  font-size: 16px;
  color: #212121;
  padding: 10px 20px;
  background: white;
  text-decoration: none;
  text-align: left;
}
.mainMenu__sub__link:hover {
  text-decoration: none;
  background: #01b5b1;
  color: white;
}
/* .footer */
.footer {
  background: #455a64;
  padding-bottom: 25px;
  margin-top: 70px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer__col {
  padding-top: 30px;
}
.footer__link {
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  color: white;
  text-decoration: underline;
}
.footer__credentials {
  background: transparent url('../img/logo-small.png') no-repeat 15px 22px;
  padding-top: 90px;
}
.footer__credentials__item {
  display: inline-block;
  margin-right: 35px;
  color: white;
  font-size: 14px;
  font-weight: 300;
}
/* .footerNav */
.footerNavPaddingContainer {
  padding-left: 45px;
}
.footerNav {
  margin-top: 30px;
  position: relative;
}
.footerNav:after {
  content: '';
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  background: #455a64;
  bottom: 0;
  left: 0;
}
.footerNav a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.footerNav a:hover {
  color: white;
  text-decoration: underline;
}
.footerNav__link {
  display: block;
  height: 28px;
}
.footerNav__link_top {
  font-size: 16px;
  padding-left: 15px;
  background: transparent url('../img/bullets-top.png') 0 100% no-repeat;
}
.footerNav__link_inner {
  font-size: 14px;
  padding-left: 36px;
  padding-top: 5px;
  background: transparent url('../img/bullets-middle.png') 0 50% no-repeat;
}
/* promoVideo */
.promoVideo {
  font-size: 0;
}
.promoVideo__item {
  display: block;
  position: relative;
  color: white;
  font-size: 0;
}
.promoVideo__item:hover {
  color: white;
}
.promoVideo__image {
  height: auto;
  min-height: 210px;
  max-width: 100%;
}
.promoVideo__item:hover .promoVideo__image {
  opacity: 0.9;
}
.promoVideo__desc {
  position: absolute;
  bottom: 14px;
  left: 0;
  /*width: 100%;*/
  max-width: 370px;
  padding: 18px 18px 18px 30px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.promoVideo__desc--primary {
  background: #3f6095;
}
.promoVideo__desc_secondary {
  background: #01b5b1;
}
.promoVideo__desc_danger {
  background: #f44336;
}
.promoVideo__type {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
}
.promoVideo__title {
  font-size: 30px;
  font-weight: 400;
}
/* smallSearch */
.smallSearch {
  background: #01b5b1;
  padding: 20px 0 63px 0;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 8px 20px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 8px 20px 0px rgba(50, 50, 50, 0.2);
}
.smallSearch__title {
  font-size: 20px;
  line-height: 22px;
  color: white;
  text-align: center;
  padding: 0 15px;
  margin: 40px 0 20px;
}
.smallSearch__typeWrapper {
  display: block;
  width: 100%;
  max-width: 275px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 20px;
}
.smallSearch__typeWrapper input {
  display: none;
}
.smallSearch__typeWrapper input:checked + label:after {
  width: 8px;
  height: 8px;
  left: 4px;
  margin-top: -4px;
}
.smallSearch__typeLabel {
  display: block;
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-weight: 300;
  position: relative;
  padding-left: 30px;
  margin: 5px 0;
}
.smallSearch__typeLabel:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  margin-top: -8px;
  border: 1px solid white;
  border-radius: 50%;
}
.smallSearch__typeLabel:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 8px;
  top: 50%;
  margin-top: 0;
  background: white;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
}
.smallSearch__numsWrapper {
  display: block;
  width: 100%;
  max-width: 275px;
  margin: 0 auto;
  padding: 20px 0 10px 50px;
}
.smallSearch__numLine {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
.smallSearch__numPrefix {
  display: table-cell;
  width: 62px;
  font-size: 18px;
  font-weight: 300;
  color: white;
  vertical-align: middle;
}
.smallSearch__numPostfix {
  display: table-cell;
  width: 67px;
  padding-left: 16px;
  font-size: 18px;
  font-weight: 300;
  color: white;
  vertical-align: middle;
}
.smallSearch__numFix {
  display: table-cell;
  vertical-align: middle;
}
.smallSearch__num {
  width: 100%;
  display: block;
  height: 30px;
  background: #f5f5f5;
  color: #212121;
  border-top: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  padding: 0 5px 0 15px;
}
.smallSearch__num:focus {
  padding-left: 16px;
  border: 1px solid #3f6095;
  outline: none;
}
.smallSearch__btnWrapper {
  width: 100%;
  max-width: 275px;
  margin: 0 auto;
}
.smallSearch__btn {
  width: 100%;
}
.smallSearch__more {
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  display: inline-block;
}
.smallSearch__more:hover {
  color: white;
}
/* .why */
.whyContainer {
  margin-top: 70px;
  margin-bottom: 0;
}
.why {
  text-align: justify;
}
.why:before {
  content: '';
  display: block;
  width: 100%;
}
.why:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.why__item {
  display: inline-block;
  position: relative;
  padding-left: 90px;
  height: 68px;
  padding-top: 8px;
  font-size: 20px;
  font-weight: 300;
  background-size: 0px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 34px 50%;
  color: #212121;
  text-decoration: none;
}
.why__item:hover {
  color: #212121;
  text-decoration: underline;
}
.why__item.visible {
  background-size: 68px;
  background-position: 0 50%;
}
.why__item_glass {
  background-image: url('../img/why/glass.png');
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.why__item_thumbsup {
  background-image: url('../img/why/thumbsup.png');
  -webkit-transition: all 0.2s ease 0.2s;
  -moz-transition: all 0.2s ease 0.2s;
  -ms-transition: all 0.2s ease 0.2s;
  -o-transition: all 0.2s ease 0.2s;
}
.why__item_star {
  background-image: url('../img/why/star.png');
  -webkit-transition: all 0.2s ease 0.4s;
  -moz-transition: all 0.2s ease 0.4s;
  -ms-transition: all 0.2s ease 0.4s;
  -o-transition: all 0.2s ease 0.4s;
}
.why__item_balance {
  background-image: url('../img/why/balance.png');
  -webkit-transition: all 0.2s ease 0.6s;
  -moz-transition: all 0.2s ease 0.6s;
  -ms-transition: all 0.2s ease 0.6s;
  -o-transition: all 0.2s ease 0.6s;
}
/* .onpage */
.onpage {
  padding: 20px 0 21px;
}
.onpage__link {
  text-decoration: underline;
  color: #3f6095;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  margin-left: 15px;
}
.onpage__link.active {
  text-decoration: none;
}
.onpage__link:hover {
  color: #3f6095;
  text-decoration: none;
}
/* .tabs */
.tabs {
  font-size: 0;
  margin-bottom: 35px;
}
/* .tabLink */
.tabLink {
  display: block;
  padding: 20px 0 21px;
  color: white;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  background: #365280;
}
.tabLink:hover {
  color: white;
  text-decoration: none;
}
.tabLink.active {
  background: #3f6095;
}
/* .tabBody */
.tabBody {
  background: #3f6095;
  padding: 30px;
  font-size: 18px;
  font-weight: 300;
  -webkit-box-shadow: 0px 12px 20px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 12px 20px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 12px 20px 0px rgba(50, 50, 50, 0.2);
}
/* .offers */
.offers {
  display: table;
  width: 100%;
}
.offers__userLink {
  color: #212121;
  text-decoration: none;
}
.offers__dealLink {
  color: #212121;
  text-decoration: none;
}
.offers__dealLink:hover {
  color: #212121;
  text-decoration: underline;
}
.offersRow {
  display: table-row;
}
.offersHead__block {
  color: white;
  border: 1px solid #5893b9;
  background: #365280;
  padding: 12px 18px;
  font-weight: 400;
  text-align: center;
}
.offersHead__block_icon {
  text-align: left;
  padding-left: 60px;
}
.offersHead__block_icon_card {
  background-image: url('../img/icon-card.png');
  background-position: 15px 50%;
  background-repeat: no-repeat;
}
.offersHead__block_empty {
  background: none;
  border-right: 0;
  border-top: 0;
}
.offersBody__oneColor {
  background: #f5f5f5;
}
.offersBody__row {
  background: white;
}
.offersBody__row:nth-child(odd) {
  background: #f5f5f5;
}
.offersBody__row:hover {
  background: #d8f7f6;
}
.offersBody .offersRow:hover {
  background: #d8f7f6;
}
.offersBody__block {
  border: 1px solid #5893b9;
  padding: 12px 18px;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
}
.offersBody__block:last-child {
  white-space: normal;
}
.offersBody__block--user {
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
  padding-left: 60px;
  background-image: url('../img/icon-user-blue.png');
  background-position: 18px 50%;
  background-repeat: no-repeat;
}
.offersBody__block small,
.offersBody__block--small .offers__dealLink,
.offersBody__block--small {
  font-size: 14px;
}
/* .new */
.new {
  margin-top: 35px;
}
.new__title {
  margin: 0;
}
.new__changeLinkWrapper {
  padding-top: 19px;
  padding-bottom: 10px;
}
.new__changeLink {
  color: #3f6095;
}
.new__changeLink:hover {
  color: #3f6095;
}
.new__changeLink.active {
  text-decoration: none;
}
.new__changeLink:last-child {
  margin-left: 40px;
}
.new .newCarousel {
  margin-top: 40px;
  margin-bottom: 60px;
}
/* .newCarousel */
.newCarousel {
  position: relative;
}
.newCarousel__itemWrapper {
  width: 165px;
  text-align: center;
}
.newCarousel__item {
  width: 100%;
  max-width: 165px;
  text-align: center;
  display: inline-block;
}
.newCarousel__circle {
  display: block;
  position: relative;
  border-radius: 50%;
  width: 165px;
  height: 165px;
  margin-bottom: 8px;
}
.newCarousel__circle:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #01b5b1;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.newCarousel__circle:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #01b5b1;
  border-radius: 50%;
  transform: scale(0);
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.newCarousel__circle:hover:before {
  transform: scale(1);
}
.newCarousel__circle:hover:after {
  opacity: 0;
}
.newCarousel__circle:hover .newCarousel__date,
.newCarousel__circle:hover .newCarousel__back,
.newCarousel__circle:hover .newCarousel__cost {
  color: #ffffff;
}
.newCarousel__circle:hover .newCarousel__hr {
  background: #ffffff;
}
.newCarousel__hr {
  position: absolute;
  left: 50%;
  margin-left: -34%;
  top: 50%;
  width: 68%;
  height: 1px;
  background: #424242;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.newCarousel__cost {
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  color: #424242;
  position: absolute;
  top: 44px;
  width: 100%;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.newCarousel__date {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #424242;
  position: absolute;
  top: 88px;
  width: 100%;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.newCarousel__back {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: #424242;
  position: absolute;
  top: 122px;
  width: 100%;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.newCarousel .slickBtn {
  display: inline-block;
  background: none;
  border: none;
  font-size: 40px;
  color: #3f6095;
  position: absolute;
  left: 50%;
  bottom: -65px;
  cursor: pointer;
}
.newCarousel .slickBtn--prev {
  margin-left: -50px;
}
.newCarousel .slickBtn--next {
  margin-left: 15px;
}
.newCarousel .slickBtn:hover {
  color: #5893b9;
}
.newCarousel .slickBtn.slick-disabled {
  /*cursor: auto;

			&:hover {
				color: @brand-primary;
			}*/
}
/* .userLink */
.userLink--alone {
  display: inline-block;
  height: 16px;
  padding-left: 30px;
  background: transparent url('../img/icon-user-blue.png') no-repeat 0 50%;
  font-size: 16px;
  font-weight: 300;
  color: #212121;
  text-decoration: none;
  line-height: 16px;
}
/* .userCard */
.userCard {
  min-width: 326px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 20;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
  font-size: 14px;
  font-weight: 300;
  color: #616161;
  padding: 20px;
}
.userCard__img {
  float: left;
  margin-right: 14px;
  border-radius: 50%;
}
.userCard__fio {
  color: #212121;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 300;
}
.userCard__fio:hover {
  color: #212121;
  text-decoration: none;
}
.userCard__city {
  padding-left: 15px;
}
.userCard__row {
  min-height: 18px;
}
.userCard__row--p {
  padding-left: 84px;
}
.userCard__row--type {
  margin-bottom: 15px;
}
.userCard__row--register {
  margin-top: 10px;
}
.userCard__row--btn {
  margin-top: 10px;
}
.userCard__btn {
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 46px;
  padding-right: 18px;
  background-image: url('../img/icon-message-white.png');
  background-repeat: no-repeat;
  background-position: 18px 50%;
}
.userCard__value {
  color: #212121;
}
.userCard__vote {
  text-decoration: none;
  min-height: 23px;
  margin-left: 5px;
}
.userCard__vote--up {
  background: transparent url('../img/icon-vote-up.png') 0 3px no-repeat;
  padding-left: 25px;
  display: inline-block;
  color: #0da4ab;
  padding-top: 5px;
}
.userCard__vote--down {
  background: transparent url('../img/icon-vote-down.png') 0 3px no-repeat;
  padding-left: 25px;
  display: inline-block;
  color: #d04949;
}
.userCard__accessDenied {
  color: #3f6095;
  font-size: 18px;
  font-weight: 300;
}
.userCard__accessDenied:hover {
  color: #3f6095;
}
/* Modals */
.modal.target .modalBlack {
  display: block;
}
.modal.target .modalDialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal.target .orderDialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 5%;
}
.modalBlack {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: default;
}
.modalDialog {
  background: #01b5b1;
  color: white;
  border-radius: 5px;
  width: 390px;
  margin-left: -195px;
  padding: 0 60px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.4);
}
.orderDialog {
  background: white;
  color: black;
  width: 943px;
  padding: 60px;
  position: fixed;
  left: 35%;
  z-index: 11;
}
.orderDialog__close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.orderDialog__status {
  display: inline-block;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
  background: #01b5b1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.orderDialog__orderNumber {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  margin-left: 15px;
}
.orderDialog__orderNumber--loan {
  margin: 0;
}
.orderDialog__content {
  margin-top: 25px;
}
.newDealDialog__delete {
  font-weight: 300;
  display: inline-block;
  margin-left: 115px;
}
.newDealDialog__delete img {
  margin-right: 15px;
}
.newDealDialog__delete a {
  color: #263a59;
  text-decoration: none;
}
.newDealDialog__delete a:hover {
  text-decoration: underline;
}
.aboutOrder textarea {
  margin-top: 15px;
  padding: 15px;
  display: block;
  line-height: 20px;
  height: 220px;
  width: 100%;
  border: 1px solid #5893b9;
  resize: none;
}
.aboutOrder__userBlock {
  display: inline-block;
  margin-bottom: -35px;
}
.aboutOrder__userBlock a {
  font-weight: 300;
  position: absolute;
  font-size: 18px;
  color: black;
  line-height: -30px;
}
.aboutOrder__userBlock span {
  margin-right: 15px;
  font-weight: 300;
  color: #616161;
}
.aboutOrder__comments {
  margin-top: 15px;
  font-weight: 300;
}
.aboutOrder__comments span {
  display: block;
  padding-bottom: 10px;
}
.aboutOrder__comments--deal {
  margin-top: 0;
}
.aboutOrder__comments--inWork {
  line-height: 20px;
}
.aboutOrder__comments--loan {
  line-height: 20px;
}
.aboutOrder__buttonWrapper {
  float: left;
  width: 200px;
  margin-right: 20px;
}
.aboutOrder__buttons {
  padding-top: 50px;
  overflow: hidden;
}
.aboutOrder__buttons span {
  font-weight: 300;
}
.aboutLoan__item {
  padding-bottom: 10px;
}
.aboutLoan__item--name {
  display: inline-block;
  width: 145px;
  font-weight: 300;
}
.aboutLoan__item--value {
  font-weight: 300;
  font-size: 18px;
}
.aboutLoan__notes {
  font-weight: 300;
}
.aboutLoan__notes ul {
  margin-top: 5px;
  font-size: 18px;
  color: #01b5b1;
  margin-bottom: 35px;
}
.aboutLoan__notes ul li {
  margin-bottom: 10px;
}
.aboutLoan__notes ul li span {
  color: black;
}
.aboutLoan__notes ul li a {
  color: black;
}
.aboutLoan__notes--loan li {
  margin-bottom: 7px !important;
}
.aboutLoan__notes--dealFiles {
  margin-top: 30px;
}
.aboutLoan__notes--dealNotes {
  margin-top: 50px;
}
.ages {
  line-height: 55px;
}
#close {
  display: none;
}
/* .serviceForm */
.serviceForm {
  background: transparent url('../img/logo-micro.png') 50% 50px no-repeat;
  padding-top: 140px;
  padding-bottom: 60px;
}
.serviceForm__btn {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 20px;
}
.serviceForm__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  font-weight: 300;
  white-space: nowrap;
  margin-bottom: 25px;
}
.serviceForm__group {
  margin-bottom: 20px;
}
.serviceForm__input--text {
  width: 100%;
  display: block;
  height: 40px;
  background: #f5f5f5;
  color: #212121;
  border-top: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  padding: 0 5px 0 15px;
}
.serviceForm__input--text:focus {
  padding-left: 16px;
  border: 1px solid #3f6095;
  outline: none;
}
.serviceForm__links {
  overflow: hidden;
}
.serviceForm__link {
  color: white;
  font-size: 14px;
  font-weight: 300;
  vertical-align: top;
}
.serviceForm__link:hover {
  color: white;
}
.serviceForm__link:last-child {
  float: right;
}
/* .registerConfirm */
.registerConfirm {
  width: 263px;
  margin: 0 auto;
}
/* .acctype */
.acctype {
  display: none;
}
.acctype.active {
  display: block;
}
/* .editAccount */
.editAccount__photo {
  width: 330px;
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 330px;
  overflow: hidden;
}
.editAccount__photo img {
  margin: 0 !important;
  position: absolute;
  width: 100%;
}
.editAccount__opacity {
  width: 330px;
  position: relative;
  margin-left: 30px;
  border: 1px solid #3f6095;
  text-align: center;
  color: #01b5b1;
  padding: 37px 0 36px;
}
.editAccount__opacity__num {
  font-size: 65px;
  line-height: 65px;
  font-weight: 700;
}
.editAccount__opacity__text {
  font-size: 18px;
}
/* .file */
.file__delete {
  display: inline-block;
  width: 9px;
  height: 18px;
  text-indent: -9999px;
  background: transparent url('../img/icon-delete.png') 50% 7px no-repeat;
  margin-right: 7px;
  vertical-align: top;
}
.file__name {
  font-size: 15px;
  font-weight: 300;
  color: #212121;
  text-decoration: none;
  vertical-align: top;
  word-break: break-all;
}
.file__name:hover {
  color: #212121;
  text-decoration: underline;
}
/* .docsSection */
.docsSection {
  border-top: 1px solid #bdbdbd;
  margin: 0 0 35px 0;
}
.docsSection__row {
  font-size: 0;
  padding: 35px 0 0 0;
}
.docsSection__col {
  display: inline-block;
  width: 50%;
  padding: 0 15px;
  vertical-align: top;
}
.docsSection__col:first-child {
  padding-left: 0;
}
.docsSection__col:last-child {
  padding-right: 0;
}
.docsSection__name {
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-left: 31px;
  font-size: 18px;
  font-weight: 300;
  position: relative;
}
.docsSection__name:before {
  content: '';
  display: block;
  width: 62px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background: #f5f5f5;
}
.docsSection__body {
  padding-left: 68px;
  overflow: hidden;
  display: none;
}
.docsSection__body.active {
  display: block;
}
.docsSection__input--middle {
  max-width: 290px;
}
.docsSection__input--short {
  max-width: 193px;
}
.docsSection__input--shortNum {
  max-width: 80px;
  padding-left: 10px;
  padding-right: 10px;
}
.docsSection__input--small {
  max-width: 58px;
}
.docsSection__input--serial {
  max-width: 97px;
  margin-right: 30px;
}
.docsSection__input--number {
  max-width: 165px;
}
.docsSection__input--cost {
  max-width: 115px;
}
.docsSection__input--select-small {
  max-width: 97px;
}
.docsSection__inputBlock {
  display: inline-block;
}
.docsSection__inputBlock--date {
  width: 132px;
  margin-right: 30px;
}
.docsSection__inputBlock--who {
  width: 295px;
}
.docsSection__docs {
  width: 165px;
  float: right;
}
.docsSection__docs--left {
  float: left;
}
.docsSection__docs .btn {
  max-width: 135px;
}
.docsSection__label {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  padding-right: 25px;
}
/* .prefix */
.prefix {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: 300;
  max-width: 155px;
  padding-right: 15px;
}
.prefix--smallPadding {
  padding-right: 5px;
}
.prefix--full {
  max-width: 100%;
}
/* .affix */
.affix {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  padding-left: 15px;
}
.affix--smallPadding {
  padding-left: 5px;
}
.accountMenu {
  list-style: none;
  width: 100%;
  padding: 0;
}
.accountMenu__item {
  display: block;
  width: 16.66%;
  height: 60px;
  float: left;
  text-align: center;
}
.accountMenu__item--lastItem {
  border-right: none;
}
.accountMenu__item--searchDeal {
  width: 280px;
}
.accountMenu__item--searchDeal a {
  border: none !important;
}
.accountMenu__item a {
  display: block;
  background: #365280;
  width: 100%;
  height: 100%;
  padding: 15px 30px;
  color: white;
  border-right: 1px solid #d5dbe4;
  border-bottom: 1px solid #94a6c2;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}
.accountMenu__item--messages a {
  padding: 15px 10px;
}
.accountMenu__item a:active {
  background: #3f6095;
  border-bottom: none;
  padding-bottom: 21px;
}
.accountMenu__item a:visited {
  text-decoration: none;
  color: white;
}
.accountMenu__item--active a {
  background: #3f6095;
  border-bottom: none;
  padding-bottom: 21px;
}
.accountContent {
  background: #3f6095;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0px 12px 20px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 12px 20px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 12px 20px 0px rgba(50, 50, 50, 0.2);
  width: 99.9%;
}
.accountContent__leftColumn {
  float: left;
}
.accountContent__rightColumn {
  display: block;
  width: 100%;
}
.userList {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.userList__item {
  list-style-type: none;
  color: white;
  width: 275px;
  background: #365280;
  border: 1px solid #5893b9;
  border-bottom: none;
  overflow: hidden;
  padding-right: 2%;
  padding-top: 3%;
  padding-bottom: 2%;
}
.userList__item:hover {
  cursor: pointer;
}
.userList__item:first-child {
  color: white;
  background: #3f6095;
  border: none;
  height: 70px;
}
.userList__messageCount {
  display: block;
  min-width: 27px;
  height: 27px;
  padding: 0 5px;
  line-height: 27px;
  text-align: center;
  background: #01b5b1;
  font-weight: 300;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  float: right;
  margin-right: 15px;
}
.userList__item--activeuser {
  background: #4a648d;
}
.user {
  padding-top: 15px;
  padding-bottom: 15px;
}
.user__info {
  float: left;
}
.user__info--name {
  display: block;
  font-weight: 300;
  margin: 0;
  width: 130px;
  float: left;
  word-break: break-all;
}
.accountTab {
  font-weight: 300;
  color: white;
  height: 70px;
  background: #365280;
  overflow: hidden;
  border: 1px solid #5893b9;
  border-bottom: none;
}
.accountTab__user {
  padding-top: 1%;
  float: left;
  font: 18px 'Exo 2', sans-serif;
  font-weight: 300;
}
.accountTab__offer {
  padding-top: 1.5%;
  display: block;
  width: 130px;
  height: 100%;
  text-align: center;
  line-height: 19px;
  font-weight: 300;
  color: white;
  margin-right: 40px;
  padding-left: 40px;
  border-left: 1px solid #5893b9;
  text-decoration: underline;
  float: right;
}
.accountTab__offer:hover {
  color: white;
}
.messages {
  background: white;
  padding-top: 30px;
  overflow: hidden;
}
.messages--reviews {
  padding-top: 10px;
}
.messages textarea {
  padding: 5px 10px;
  display: block;
  line-height: 20px;
  height: 180px;
  width: 92%;
  margin: 0 auto;
  border: 1px solid #5893b9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  resize: none;
}
.messages__btn {
  display: block;
  width: 92%;
  margin: 0 auto;
  overflow: hidden;
}
.messages__btn--send {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.messages__btn--send button {
  margin-top: 20px;
  border: none;
  padding: 17px 65px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 300;
  font-size: 18px;
  text-align: right;
}
.messages--review textarea {
  width: 96%;
  margin-left: 30px;
}
.messages--category {
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  font: 20px 'Exo 2', sans-serif;
  font-weight: 300;
}
.messages__newMessages {
  display: block;
  width: 92%;
  margin: 0 auto;
  overflow: hidden;
}
.messages__newReview {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.messageBox {
  margin-top: 20px;
}
.messageBox__item {
  margin-bottom: 20px;
}
.messageBox__avatar {
  float: left;
  position: relative;
}
.messageBox__avatar--right {
  float: right;
  padding-left: 30px;
  position: relative;
}
.messageBox__avatar--left {
  float: left;
  padding-right: 30px;
}
.messageBox__date {
  display: block;
  width: 80px;
  text-align: center;
  font-weight: 300;
  margin: 0;
}
.messageBox__message {
  position: relative;
}
.messageBox__message--unread {
  background: #d9f7f7;
}
.messageBox__message--left {
  display: block;
  padding: 20px 20px;
  font: 18px 'Exo 2', sans-serif;
  font-weight: 300;
  border: 1px solid #5893b9;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.messageBox__message--right {
  display: block;
  padding: 20px 20px;
  font: 18px 'Exo 2', sans-serif;
  font-weight: 300;
  border: 1px solid #5893b9;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.messageBox__message--review {
  border: 1px solid #bdbdbd;
}
.messageBox__owner {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px;
  color: #616161;
}
.avatarPhoto {
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}
.avatarPhoto img {
  width: 100%;
  height: 100%;
}
.avatarPhoto--message {
  margin-left: 18px;
}
.avatarPhoto--header {
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  margin-top: 1.3%;
}
.avatarPhoto--userlist {
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
}
.avatarPhoto--modalOrders {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
  height: 70px;
}
/*


MyPage


*/
.myInfo {
  background: white;
  padding: 40px 40px;
}
.myInfo__leftColumn {
  float: left;
}
.myInfo__rightColumn {
  overflow: hidden;
}
.myMenu {
  width: 190px;
}
.myMenu__avatar {
  width: 100%;
  height: 100%;
  display: block;
}
.myMenu__buttons img {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-right: 10px;
}
.myMenu__info {
  margin-top: 10px;
}
.myMenu__info--good {
  color: #01b5b1;
  margin-right: 5px;
  margin-left: 5px;
}
.myMenu__info--bad {
  color: #f44336;
}
.myMenu__info--modalBad {
  font-size: 14px;
}
.myMenu__info--modalBad img {
  display: inline-block;
}
.myMenu__info--name {
  display: inline;
  color: #616161;
  font: 18px 'Exo 2', sans-serif;
  font-weight: 300;
  display: inline-block;
  margin-right: 5px;
}
.myMenu__info--value {
  display: inline;
  font: 18px 'Exo 2', sans-serif;
  font-weight: 300;
  margin-right: 3px;
  margin-left: 3px;
}
.myMenu__info a {
  color: #616161;
  font: 18px 'Exo 2', sans-serif;
  font-weight: 300;
  text-decoration: underline;
}
.myMenu__info--modalOrderName {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
.myMenu__info--modalOrderValue {
  font-size: 14px;
  color: black;
}
.userHeader {
  padding-left: 30px;
  overflow: hidden;
}
.userHeader__name {
  margin: 0;
  padding: 0;
  font: 20px 'Exo 2', sans-serif;
  font-weight: 300;
}
.userHeader__subInfo {
  color: #616161;
  font-weight: 300;
}
.userHeader__subInfo span {
  margin-right: 15px;
}
.userHeader__subInfo--urLico span {
  margin-right: 30px;
}
.userHeader__userInfo {
  font: 18px 'Exo 2', sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
}
.userHeader__userInfo--urLico span {
  display: inline-block;
  width: 140px;
}
.userHeader__info {
  float: left;
}
.userHeader__registration {
  float: right;
}
.userHeader__registration--date {
  margin: 0;
  float: right;
  font-weight: 300;
}
.userHeader__registration--date span {
  color: black;
}
/*


BlackList


*/
.contentBlackList {
  background: white;
  padding-top: 45px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 35px;
  width: 100.1%;
}
.contentBlackList__login {
  margin: 0;
  padding: 0;
  font: 18px 'Exo 2', sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}
.contentBlackList input {
  width: 195px;
  height: 30px;
  border: 1px solid #5893b9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 15px;
  padding: 0 15px;
}
.blackList {
  padding-top: 30px;
  overflow: hidden;
}
.blackList__item {
  margin-right: 80px;
  display: block;
  width: 115px;
  float: left;
  overflow: hidden;
}
.blackList__item--user {
  display: block;
  width: 90px;
  font: 18px 'Exo 2', sans-serif;
  font-weight: 300;
  word-break: break-all;
  float: left;
  overflow: hidden;
}
.blackList__item img {
  display: block;
  margin-top: 6px;
}
.userLogin {
  color: white;
  font-weight: 300;
  text-decoration: none;
}
.userLogin:hover {
  color: white;
  text-decoration: underline;
}
.userLogin--accountTab {
  font-size: 14px;
}
.userLogin--userList {
  display: inline-block;
}
.userLogin--userBlackList {
  color: #212121;
}
.userLogin--userBlackList:hover {
  color: #212121;
}
/*


	Стили SELECTa


*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
}
.selectric-responsive {
  width: 100%;
}
.selectric {
  border: 1px solid white;
  background: inherit;
  position: relative;
  border-radius: 0;
}
.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 30px 0 0;
  padding: 10px 12px;
  line-height: 18px;
  color: white;
  min-height: 18px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  color: yellow;
  text-align: center;
  font: 0/0 a;
  /* IE Fix */
  *font: 0.6666666666666666px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #01b5b1;
  border-bottom: none;
}
.selectric-hover .selectric {
  border-color: white;
}
.selectric-hover .selectric .button {
  color: green;
}
.selectric-hover .selectric .button:after {
  border-top-color: #01b5b1;
}
.selectric-open {
  z-index: 9999;
}
.selectric-open .selectric {
  border-color: white;
  background: inherit;
  border-bottom-width: 0;
  padding-bottom: 2px;
}
.selectric-open .selectric-items {
  display: block;
  background: white;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
}
.selectric-open.selectric-above .selectric {
  border-top-width: 0;
  border-bottom-width: 2px;
}
.selectric-open.selectric-above .selectric-items {
  border-bottom-width: 0;
  border-top-width: 2px;
}
.selectric-disabled {
  background: inherit;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectric-hide-select select {
  position: absolute;
  left: -100%;
  display: none;
}
.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: NaN a !important;
  background: none !important;
}
.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}
/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-top-width: 0;
  z-index: -1;
  padding: 0;
  /* box-shadow: 0 0 10px -6px; */
}
.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}
.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}
.selectric-items ul,
.selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}
.selectric-items li {
  display: block;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid #b6b6b6;
  font-weight: 300;
  font-size: 18px;
}
.selectric-items li:last-child {
  border-bottom: none;
}
.selectric-items li.selected {
  background: #01b5b1;
  color: white;
}
.selectric-items li:hover {
  background: #01b5b1;
  color: white;
}
.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444;
}
.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}
.selectric-items .selectric-group li {
  padding-left: 25px;
}
.select1 {
  width: 200px;
}
/*        */
.requests {
  position: relative;
}
.requests__filter {
  display: block;
  width: 160px;
  float: left;
  padding-bottom: 20px;
}
.requests__filter--deals {
  width: 300px;
}
.requests__select {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 250px;
}
.requests__buttons {
  padding-top: 10px;
  float: right;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label:after {
  width: 8px;
  height: 8px;
  left: 4px;
  margin-top: -4px;
}
.LabelRadio {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: white;
  font-weight: 300;
  position: relative;
  padding-left: 30px;
  margin: 5px 0;
}
.LabelRadio:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  margin-top: -8px;
  border: 1px solid white;
  border-radius: 50%;
}
.LabelRadio:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 8px;
  top: 50%;
  margin-top: 0;
  background: white;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
}
.testclass {
  border: none;
}
.searchDealFilters {
  color: white;
}
.searchDealFilters .row {
  margin: 0;
}
.searchDealFilters .col-md-3 {
  padding: 0;
}
.searchDealFilters .col-md-4 {
  padding: 0;
  margin: 0;
}
.searchDealFilters a {
  color: white;
  font-weight: 300;
}
.searchDealFilters__title {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}
.searchDealFilters__body {
  font-weight: 300;
  padding-bottom: 30px;
}
.searchDealFilters__body input {
  font-size: 14px;
  border: none;
  border-radius: 4px;
  height: 30px;
  margin: 0 5px;
  color: black;
  padding: 5px;
  text-align: right;
}
.searchDealFilters__body input:first-child {
  margin-right: 20px;
}
.searchDealFilters__sum input {
  width: 80px !important;
}
.searchDealFilters__time {
  padding-left: 4.4% !important;
}
.searchDealFilters__time input {
  width: 45px;
}
.searchDealFilters__profitability {
  padding-left: 4.4% !important;
}
.searchDealFilters__profitability input {
  width: 45px;
}
.searchDealFilters__facialAppearance {
  margin-top: -5px;
}
.searchDealFilters__userRating {
  padding-left: 4.4% !important;
}
.searchDealFilters__userRating input {
  width: 45px;
}
.searchDealFilters__extendSearch {
  text-align: right;
}
.searchDealFilters__location {
  padding-left: 4.4% !important;
}
.searchDealFilters__location .selectric {
  border: 1px solid #5893b9;
  background: white;
  position: relative;
  border-radius: 4px;
  margin-bottom: 7px;
}
.searchDealFilters__location .selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 30px 0 0;
  padding: 5px 20px;
  line-height: 18px;
  color: black;
  min-height: 18px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-radius: 4px;
}
.searchDealFilters__location .selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 30px;
}
.searchDealFilters__location .selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #01b5b1;
  border-bottom: none;
}
.searchDealFilters__location .selectric-items li {
  display: block;
  padding: 5px 20px;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid #b6b6b6;
  font-weight: 300;
  font-size: 14px;
}
